.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: 0;

}
input,textarea,select{
    font-size: 11px;
 
}
.modal-header{
    height: 56px;
    margin-left: 124px;
    margin-right: 103px;
    /* margin: 8px; */
    box-shadow: 8px 15px 27px -9px #c3bbbb;
    background-color: #88838363;
    border-bottom-color: #0000001f;
    border-radius: 0;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);
}
.modal-header>h4{
    margin-left: 51px;
    font-family: inherit;
    FONT-WEIGHT: 780;
    margin-top: -8px;
}
.btn{
    border-radius: 0px;
    box-shadow: 6px 11px 18px 0px #c3bbbb;
}
.btn-group{
    margin-left: 156px;
}