<div [@routerTransition]>
    <h2 class="text-muted">Doctor <small>Overview</small></h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'"  [data]="'Description'" [icon]="'fa-plus-square'" [count]="26" [label]="'New Doctor'" ></app-stat>
            <!-- <button routerLink="Doctors" routerLinkActive="active" >as</button> -->
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [data]="'Description'" [icon]="'fa-undo'" [count]="12" [label]="'Changes'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [data]="'Description'" [icon]="'fa-exchange'" [count]="124" [label]="'Update Doctor'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [data]="'Description'" [icon]="'fa-outdent'" [count]="13" [label]="'View Details'"></app-stat>
        </div>
    </div>
    <hr />
   
    <div class="row">
        
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" style=" border-radius: 0px;  font-size: 11px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">New Doctor</h4>
            </div>
            <div class="modal-body">

                <form role="form" id="reused_form">

                    <div class="form-group" >
                        <label for="name">
                            Doctor Name:
                        </label>
                        <input type="text" class="form-control" id="name" name="name" required maxlength="50">

                    </div>
                    <div class="form-group" >
                            <label for="exampleSelect1">Select Ward</label>
                            <select class="form-control" id="exampleSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                    <div class="form-group">
                        <label for="name">
                            Priority</label>
                            <input type="text" class="form-control" id="name" name="name" required maxlength="50">
                    </div>




                    <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-success" id="btnContactUs"> &nbsp; &nbsp;Add &nbsp;&nbsp;  </button>
                    &nbsp; <button type="submit" class="btn btn-sm btn-warning" id="btnContactUs">Update</button>
                </div>
                </form>
                <div id="success_message" style="width:100%; height:100%; display:none; ">
                    <h3>Sent your message successfully!</h3>
                </div>
                <div id="error_message" style="width:100%; height:100%; display:none; ">
                    <h3>Error</h3>
                    Sorry there was an error sending your form.

                </div>
            </div>

        </div>

    </div>
</div>