<div [@routerTransition]>
    <h2 class="text-muted">Patient <small>Overview</small></h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-stemplate>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'primary'" [data]="'Description'" [icon]="'fa-plus-square'" [count]="26" [label]="'New Doctor'" ></app-stat>
                
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'warning'" [data]="'Description'" [icon]="'fa-undo'" [count]="12" [label]="'Changes'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'success'" [data]="'Description'" [icon]="'fa-exchange'" [count]="124" [label]="'Update Doctor'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'danger'" [data]="'Description'" [icon]="'fa-outdent'" [count]="13" [label]="'View Details'"></app-stat>
            </div>
        </div>
    <hr />
   
    <div class="row">
        
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Other Nifications
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item clearfix d-block">
                            <i class="fa fa-comment fa-fw"></i> Somthing
                            <span class="float-right text-muted small"><em>Descript</em></span>
                        </a>
                        <a href="#" class="list-group-item clearfix d-block">
                            <i class="fa fa-twitter fa-fw"></i> Somthing
                            <span class="float-right text-muted small"><em>Descript</em></span>
                        </a>
                       
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
