<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-comment fa-fw"></i> Somthing
            <span class="float-right text-muted small"><em>Descript</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter fa-fw"></i> Somthing
            <span class="float-right text-muted small"><em>Descript</em></span>
        </a>
       
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
</div>
